#text__color {
  color: #dc3545;
  transition: 0.3s;
}
#text__color:hover {
  background-color: #dc3545;
  color: whitesmoke;
  border-radius: 30px;
}
.carousel__text {
  color: black;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: rgba(0, 0, 0, 0.856);
}
img{
  max-width: 100%;
  height: auto;
}
#work{
  padding-top: 60px;
}